shamefully-hoist=false
public-hoist-pattern[]=*sharp*
public-hoist-pattern[]=*@next*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*autoprefixer*
strict-peer-dependencies=false
auto-install-peers=true
